{
  "extends": "next",
  "rules": {
    "react/jsx-sort-props": [
      1,
      {
        "reservedFirst": true,
        "callbacksLast": true,
        "noSortAlphabetically": true
      }
    ]
  }
}
